
<div class="row sub-heading">
  <div class="heading span4">
    <h1>Songs</h1>
  </div>
  <div class="search span4">
    <form class="search form-search">
      <input type="text" name="search" class="input-medium search-query" placeholder="Search" value="<%= params[:search] %>" />
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
  <div class="links span4">
    <%= link_to 'New Song', new_admin_song_path, class: "btn btn-primary" %>
  </div>
</div>

<table class="songs table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Lyrics</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td class="title song-title">
          <%= link_to song.title, [:admin, song] %>
        </td>
        <td>
          <%= truncate song.song_sections.collect(&:lyrics).join(" "), length: 75 %>
          <%= featured_song_badge(song) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @songs %>
