<div class="song">

<div class="row sub-heading">
  <div class="heading span8">
    <h1 class="song-title"><%= @song.title %></h1>
    <div class="scripture">
      <%= @song.scripture %>
    </div>
  </div>

  <div class="links span4">
    <%= featured_song_badge(@song) %>
    <%= link_to 'Edit Song', edit_admin_song_path(@song), class: "btn" %>
    <%= link_to 'Delete Song', [:admin, @song], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
</div>

<% @song.song_sections.each do |section| %>
  <div class="section">
    <div class="section-title">
      <%= section.title %>
      <%= link_to edit_admin_song_section_path(section), title: "Edit Section" do %>
        <i class="icon-edit"></i>
      <% end %>
      <%= link_to admin_song_section_path(section), title: "Delete Section", method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="icon-trash"></i>
      <% end %>
    </div>
    <div class="section-lyrics">
      <%= simple_format section.lyrics %>
    </div>
  </div>
<% end %>

<%= link_to "Add Section", new_admin_song_section_path(song_section: { song_id: @song.id }), class: "btn" %>

<div class="copyright-blurb">
  <%= simple_format @song.copyright_blurb %>
</div>

</div>
