<a name="song_<%= song.id %>"></a>
<div class="heading-divider">
  <h2 class="song song-title"><%= song.title %></h2>
</div>
<div class="song">
  <% song.song_sections.each do |section| %>
    <div class="section">
      <div class="section-title"><%= section.title %></div>
      <div class="section-lyrics"><%= simple_format section.lyrics %></div>
    </div>
  <% end %>
  <div class="copyright">
    <%= simple_format song.copyright_blurb %>
  </div>
</div>
