<ul class="song-list">
  <% @songs.each do |song| %>
    <li><a href="#song_<%= song.id %>"><%= song.title %></a></li>
  <% end %>
</ul>

<% @songs.each do |song| %>
  <a name="song_<%= song.id %>"></a>
  <div class="heading-divider">
    <h2 class="song"><%= song.title %></h2>
  </div>
  <div class="song">
    <% song.song_sections.each do |section| %>
      <div class="section">
        <div class="section-title"><%= section.title %></div>
        <div class="section-lyrics"><%= simple_format section.lyrics %></div>
      </div>
    <% end %>
    <div class="copyright">
      <%= simple_format song.copyright_blurb %>
    </div>
    <a href="#" class="back-link">
      Back To List
      <i class="icon-arrow-up"></i>
    </a>
  </div>
<% end %>

<% if @songs.empty? %>
  <div class="empty muted">
    No songs have been featured. Click "View All Songs" below to see a list of all available songs.
  </div>
<% end %>

<div class="footer">
  <button class="btn btn-large btn-inverse" type="button">View All Songs</button>
</div>
