<!DOCTYPE html>
<html lang="en">
<head>
  <title>WCC Hymnal | Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Hymnal Admin", admin_songs_path, class: "brand" %>
      <ul class="nav">
        <li class="active"><%= link_to "Songs", admin_songs_path %>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="notice">
    <%= flash[:notice] %>
  </div>

  <div class="content">
    <%= yield %>
  </div>

</div>

</body>
</html>
