<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= Hymnal.config.brand %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad-precomposed.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-retina-precomposed.png" />
  <link rel="shortcut icon" href="/favicon.png">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="frontend">
  <div class="title heading-divider">
    <h1 class="brand"><%= Hymnal.config.brand %></h1>
  </div>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
