<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= Hymnal.config.brand %> | Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.png">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "#{Hymnal.config.brand} Login", new_user_session_path, class: "brand" %>
    </div>
  </div>
</div>

<div class="container">

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="content">
    <div class="row">
      <div class="offset4 span4">
        <%= yield %>
      </div>
    </div>
  </div>

</div>

</body>
</html>
